@import './base.css';

#app {
  min-width: 100%;
  margin: 0 0;
  padding: 2rem 1rem 2rem 1rem;
  font-weight: normal;
  overflow-x: hidden;
}

/* estilo da barra de rolagem */
::-webkit-scrollbar {
  width: 8px;
  height: 80%;
  background-color: #ffffff;
}

/* estilo do polegar da barra de rolagem */
::-webkit-scrollbar-thumb {
  background-color: rgba(5, 91, 155, 1);
  border-radius: 10px;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.tamContainer {
  max-height: 250px;
  overflow-y: auto;
}

.slide-in-enter-active {
  animation: slide-in-enter 0.5s ease;
}

.slide-out-leave-active {
  animation: slide-out-leave 0.5s ease;
}

@keyframes slide-in-enter {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-out-leave {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media screen and (max-width: 576px) {
  #app {
    padding: 1.5rem 1px 1.5rem 1px;
  }

  html {
    font-size: 13px;
  }
}
