/* CSS para a utilização em tabelas (TabelaDefault) */

.table {
    max-height: 400px;
    overflow-y: auto;
}

.table__cell {
    cursor: pointer;
}

.table__header {
  z-index: 9;
  background-color: rgb(248, 245, 245);
}

.router-link-hover:hover {
  background-color: transparent;
}